body {
    /*background: rgb(247,101,184);*/
    height: 1000px;
    background-color:rgb(84, 0, 76); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom , rgb(84, 0, 76) , rgb(136, 58, 138));
}
  
p {
    font-size: 23px;
    color: rgb(75, 139, 190);
    text-align: center;
    font-family: monospace;

}
  
h1 {
    font-size: 50px;
    color: rgb(75, 139, 190);
    text-align: center;
    font-family: monospace;
}

a{
    color: rgb(75, 139, 190);
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%
}

.nocenter{
    text-align: left;
}

h3{
    text-align: center;
}
